.changes
.husky
.vscode
docs
node_modules
scripts
src
.eslintcache
.eslintrc.*
.nycrc*
.gitignore
.npmignore
.nvmrc
.prettierignore
.prettierrc
tsconfig*
.nyc_output
.nojekyll
README.es.md
.github
.changie.*