.husky
.vscode
benchmark
docs
node_modules
scripts
src
test
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.nvmrc
.prettierignore
.prettierrc
tsconfig.json
tsconfig.es.json
.nyc_output
.nojekyll
README.es.md